* {
    font-family: 'Times New Roman', Times, serif;
}

/*version mobile*/

@media (max-width : 599px) {

    .container {
        width: 50%;
    }

    .infos {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: flex-end;
    }

    .icone_tel {
        padding-top: 15px;
        margin-right: 10px;
    }

    .tel {
        padding-top: 20px;
        margin-right: 40px;
    }

    .enveloppe {
        padding-top: 20px;
        margin-right: 40px;
    }

    .facebook {
        padding-top: 15px;
        margin-right: 40px;
    }

    .header {
        background-color: #8F4343;
        padding: 10px;
        color: white;
    }

    .menu_container {
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;

    }

    .icone_liste {
        display: flex;
        padding: 65px;
        margin: none;
        font-size: 2rem;
        color: #8F4343;
    }

    .logo {
        padding-left: 10px;
        margin-left: 10px;
    }


    .menu_container_droit {
        display: none;
        width: 75%;
        padding: 20px;
    }

    .logo_name {
        display: none;
    }

    .navbar {
        font-weight: 500;
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
        font-size: larger;
        list-style: none;

    }

    .navbar li a {
        color: black;
        text-decoration: none;
    }

    .submenu {
        text-decoration: none;
        list-style: none;
        display: none;
        z-index: 1000;

    }

    .navbar li:hover .submenu {
        display: none;
        left: 20px;
        position: absolute;
        z-index: 1000;
    }

    li a:hover {
        color: #DEA479;
    }

    /* fin du header_ tout ce qui est au dessus reste identique sur chaque page*/

    /*page index   ACCUEIL  */

    .body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .rectangle_orange {
        background-color: #DEA479;
        padding: 35px;
        color: white;
        text-align: center;
        font-size: xx-large;
    }


    .rectangle_bordeaux {
        background-color: #8F4343;
        color: white;
        font-size: larger;
        text-align: center;
        padding-bottom: 20px;
    }

    .bandeau_img {
        padding-bottom: 20px;
    }

    .linda_garcia {
        font-size: xx-large;
        font-weight: bold;
    }

    .sous-titre {
        font-size: x-large;
        padding: 30px;
    }

    .lieux {
        background-color: #DEA479;
        color: white;
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        padding-top: 50px;
    }

    .secteurs {
        background-color: #DEA479;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        padding: 60px;
        text-align: center;

    }

    .fanthilou {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        margin-bottom: 20px;
    }

    .adresse_fanthilou {

        font-size: large;
        font-weight: bold;
        margin-top: 10px;


    }

    .equiway {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
    }

    .adresse_equiway {

        font-size: large;
        font-weight: bold;
        margin-top: 10px;
    }

    .footer {

        background-color: #DEA479;
        color: white;
        padding: 30px;
        text-align: center;
    }


    /* page Qui suis-je? -  PAGE 2*/

    .rectangle_bordeaux_qui_suis_je {
        background-color: #8F4343;

    }

    .image_et_formation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .formation {
        color: white;
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 120%;
        padding-left: 90px;
        padding-top: 80px;
        text-align: center;
    }

    .texte {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 70px;
    }

    .bloc_philo_image {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }

    .maphilo_bloc_texte {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;


    }

    .ma_philo_titre {
        color: white;
        font-size: 1.8rem;
        font-weight: 200;
        padding: 50px;
        text-align: center;
    }

    .ma_philo_texte {
        color: white;
        font-size: large;
        line-height: 180%;
        padding-left: 80px;
        padding-right: 40px;
    }

    .secteurs_activite_titre {
        color: white;
        font-size: 1.8rem;
        font-weight: 200;
        padding-top: 80px;
        text-align: center;
    }

    .secteurs_activite {
        color: white;
        font-size: large;
        text-align: center;
    }


    .ma_philo_image {
        padding-top: 50px;
    }

    .footer {
        background-color: #DEA479;
        color: white;
        width: 87%;
    }


    /* fin page 2 - qui suis-je? */

    /* Page 3 : L'équithérapie Qu'est ce que c'est */

    .rectangle_bordeaux_what {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .image_et_what {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

    }

    .titre_what {
        color: white;
        font-size: xx-large;
        font-weight: 200;
        line-height: 120%;
        padding-left: 180px;
        padding-right: 180px;
        padding-top: 150px;
        text-align: center;

    }

    .texte_what {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 70px;
    }


    /* fin page 3 - ql'équithérapie, qu'est ce que c'est? */

    /* Page  : Pourquoi faire de l'équithérapie? */

    .rectangle_bordeaux_why {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .image_et_why {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

    }

    .titre_why {
        color: white;
        font-size: xx-large;
        font-weight: 200;
        line-height: 120%;
        padding-left: 180px;
        padding-right: 180px;
        padding-top: 150px;
        text-align: center;

    }

    .texte_why {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 70px;
    }

}


/*version desktop*/

@media (min-width: 600px) {
    .container {
        width: 100%;
    }

    .header {
        background-color: #8F4343;
        padding: 10px;
        color: white;
    }

    .infos {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: flex-end;
    }

    .icone_tel {
        padding-top: 15px;
        margin-right: 10px;
    }

    .tel {
        padding-top: 20px;
        margin-right: 40px;
    }

    .enveloppe {
        padding-top: 20px;
        margin-right: 40px;
    }

    .facebook {
        padding-top: 15px;
        margin-right: 40px;
    }

    .menu_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;

    }

    .logo {
        width: 20%;
        padding-left: 40px;
        margin-left: 20px;

    }

    .icone_liste {
        display: none;
    }

    .logo_name {
        font-size: xx-large;
        font-weight: bold;
        width: 100%;
        margin-top: 30PX;
        margin-bottom: 80px;
        margin-left: 310px;
    }

    .menu_container_droit {
        width: 75%;
        padding: 20px;

    }

    .navbar {
        font-weight: 500;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
        font-size: larger;
        list-style: none;
        text-align: center;

    }

    .navbar li {
        position: relative;
    }

    .navbar li a {
        color: black;
        text-decoration: none;
    }

    li a:hover {
        color: #DEA479;
    }

    .submenu {
        text-decoration: none;
        list-style: none;
        display: none;
        background-color: white;
        padding: 30px;
        margin: 20px;
    }

    .navbar li:hover .submenu {
        display: inline-block;
        position: absolute;
        left: 0px;
    }

    /* fin du header_ tout ce qui est au dessus reste identique sur chaque page*/

    /*page index   ACCUEIL  */

    .body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .rectangle_orange {
        background-color: #DEA479;
        padding: 35px;
        color: white;
        text-align: center;
        font-size: xx-large;
    }


    .rectangle_bordeaux {
        background-color: #8F4343;
        color: white;
        font-size: larger;
        text-align: center;
        padding-bottom: 20px;
    }

    .bandeau_img {
        padding-bottom: 20px;
    }

    .linda_garcia {
        font-size: xx-large;
        font-weight: bold;
    }

    .sous-titre {
        font-size: x-large;
        padding: 30px;
    }

    .lieux {
        background-color: #DEA479;
        color: white;
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        padding-top: 50px;
    }

    .secteurs {
        background-color: #DEA479;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        padding: 60px;
    }

    .fanthilou {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
    }

    .adresse_fanthilou {
        padding: 20px;
        padding-top: 30px;
        font-size: large;
        font-weight: bold;
    }

    .equiway {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
    }

    .adresse_equiway {
        padding: 20px;
        font-size: large;
        font-weight: bold;
    }

    .footer {
        padding: 30px;
        background-color: #DEA479;
        color: white;
    }


    /* page Qui suis-je? -  PAGE 2*/

    .rectangle_bordeaux_qui_suis_je {
        background-color: #8F4343;

    }

    .image_et_formation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .formation {
        color: white;
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 120%;
        padding-left: 90px;
        padding-top: 80px;
        text-align: center;
    }

    .texte {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 70px;
    }

    .bloc_philo_image {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }

    .maphilo_bloc_texte {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;


    }

    .ma_philo_titre {
        color: white;
        font-size: 1.8rem;
        font-weight: 200;
        padding: 50px;
        text-align: center;
    }

    .ma_philo_texte {
        color: white;
        font-size: large;
        line-height: 180%;
        padding-left: 80px;
        padding-right: 40px;
    }

    .secteurs_activite_titre {
        color: white;
        font-size: 1.8rem;
        font-weight: 200;
        padding-top: 80px;
        text-align: center;
    }

    .secteurs_activite {
        color: white;
        font-size: large;
        text-align: center;
    }


    .ma_philo_image {
        padding-top: 50px;
    }

    .footer {
        background-color: #DEA479;
        color: white;
    }


    /* fin page 2 - qui suis-je? */

    /* Page 3 : L'équithérapie Qu'est ce que c'est */

    .rectangle_bordeaux_what {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .image_et_what {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

    }

    .titre_what {
        color: white;
        font-size: xx-large;
        font-weight: 200;
        line-height: 120%;
        padding-left: 180px;
        padding-right: 180px;
        padding-top: 150px;
        text-align: center;

    }

    .texte_what {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 70px;
    }


    /* fin page 3 - ql'équithérapie, qu'est ce que c'est? */

    /* Page  : Pourquoi faire de l'équithérapie? */

    .rectangle_bordeaux_why {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .image_et_why {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

    }

    .titre_why {
        color: white;
        font-size: xx-large;
        font-weight: 200;
        line-height: 120%;
        padding-left: 180px;
        padding-right: 180px;
        padding-top: 150px;
        text-align: center;

    }

    .texte_why {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 70px;
    }

}