* {
    font-family: 'Times New Roman', Times, serif
}

/*version mobile*/

@media (max-width : 599px) {

    .container {
        width: 100%;
    }

    .connexion {
        background-color: #DEA479;
        padding-left: 5px;
        padding-right: 5px;
        font-size: medium;
        font-weight: bold;
        color: white;
        border: none;
    }

    .infos {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: flex-end;
    }

    .icone_tel {
        padding-top: 15px;
        margin-right: 10px;
    }

    .tel {
        padding-top: 20px;
        margin-right: 40px;
    }

    .enveloppe {
        padding-top: 20px;
        margin-right: 40px;
    }

    .facebook {
        padding-top: 15px;
        margin-right: 40px;
    }

    .instagram {
        padding-top: 15px;
    }

    .header {
        background-color: #8F4343;
        padding: 10px;
        color: white;
    }

    .menu_container {
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;

    }

    .menu_mobile_logo_liste {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }

    .icone_liste {
        box-sizing: border-box;
        padding-left: 60px;
        padding-top: 110px;
        font-size: 2rem;
        color: #8F4343;
    }

    .icone_liste_menu {
        display: none;
        position: fixed;
        list-style-type: none;
        background-color: white;
        font-size: large;
        line-height: none;
        padding: 20px;
        text-align: center;
    }

    .icone_liste_menu li {
        position: relative;
    }

    .icone_liste_menu a {
        text-decoration: none;
        color: black;
    }

    .logo {
        padding-left: none;
        margin-left: none;
    }


    .menu_container_droit {
        display: flex;
        width: 75%;
        padding: 20px;
    }

    .logo_name {
        display: none;
    }

    .navbar {
        font-weight: 500;
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        font-size: larger;
        list-style: none;
    }

    .navbar li a {
        color: black;
        text-decoration: none;
    }

    .submenu {
        text-decoration: none;
        list-style: none;
        display: flex;
    }

    .navbar li:hover .submenu {
        display: flex;
        left: 0px;
    }

    li a:hover {
        color: #DEA479;
    }

    /* fin du header_ tout ce qui est au dessus reste identique sur chaque page*/

    /*page index   ACCUEIL  */



    .rectangle_orange {
        background-color: #DEA479;
        padding: 35px;
        color: white;
        text-align: center;
        font-size: xx-large;
    }

    .accroche {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .rectangle_bordeaux {
        background-color: #8F4343;
        color: white;
        font-size: larger;
        text-align: center;
        padding-bottom: 20px;
    }

    .bandeau_img {
        display: none;
    }

    .image_version_mobile_accueil {
        background-image: url(images/selena_version_mobile.jpg);
        background-size: cover;
        padding: 40%;
    }

    .texte {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .linda_garcia {
        font-size: xx-large;
        font-weight: bold;
        padding-top: 30px;
    }

    .sous-titre {
        font-size: x-large;
        padding: 30px;
    }

    .lieux {
        background-color: #DEA479;
        color: white;
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        padding-top: 50px;
    }

    .secteurs {
        background-color: #DEA479;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        padding: 60px;
        text-align: center;
    }

    .fanthilou {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        margin-bottom: 20px;
    }

    .adresse_fanthilou {
        font-size: large;
        font-weight: bold;
        margin-top: 10px;
    }

    .equiway {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        padding-top: 20px;
    }

    .adresse_equiway {
        font-size: large;
        font-weight: bold;
        margin-top: 10px;
    }

    .footer {
        box-sizing: border-box;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #DEA479;
        color: white;
        text-align: center;
    }


    /* page Qui suis-je? -  PAGE 2*/


    .rectangle_orange {
        background-color: #DEA479;
        padding: 35px;
        color: white;
        text-align: center;
        font-size: xx-large;
    }

    .rectangle_bordeaux_qui_suis_je {
        background-color: #8F4343;
        color: white;
        font-size: larger;
        text-align: center;
        padding: 0px;
    }

    .image_et_formation {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .image_qui_suis_je {
        display: none;
    }

    .image_qui_version_mobile {
        background-image: url(images/Image_qui_version_mobile.jpg);
        padding: 160px;
    }

    .formation {
        color: white;
        font-size: x-large;
        line-height: 130%;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 30px;
        text-align: center;
    }

    .texte_presentation {
        color: white;
        font-size: large;
        line-height: 130%;
        padding: 30px;
    }

    .bloc_philo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }

    .maphilo_bloc_texte {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .ma_philo_titre {
        color: white;
        font-size: 1.8rem;
        font-weight: 200;
        padding: 10px;
        text-align: center;
    }

    .ma_philo_texte {
        color: white;
        font-size: large;
        line-height: 130%;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .secteurs_activite_titre {
        color: white;
        font-size: 1.8rem;
        font-weight: 200;
        padding-top: 50px;
        text-align: center;
    }

    .secteurs_activite {
        color: white;
        font-size: large;
        text-align: center;
    }

    .ma_philo_image {
        display: none;
    }

    .footer {
        background-color: #DEA479;
        color: white;
        padding: 30px;
        text-align: center;
    }



    /* fin page 2 - qui suis-je? */

    /* Page 3 : L'équithérapie Qu'est ce que c'est */

    .rectangle_bordeaux_what {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .image_et_what {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .image_what {
        display: none;
    }

    .image_what_2 {
        display: none;
    }

    .titre_what {
        color: white;
        font-size: x-large;
        font-weight: 200;
        padding-top: 70px;
        padding-left: 150px;
        padding-right: 70px;
        text-align: center;
    }

    .texte_what {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 20px;
        text-align: center;
    }


    /* fin page 3 - l'équithérapie, qu'est ce que c'est? */

    /* Page 4 : Pourquoi faire de l'équithérapie? */

    .rectangle_bordeaux_why {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .image_et_why {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .image_why {
        display: none;
    }

    .image_why_2 {
        display: none;
    }

    .titre_why {
        color: white;
        font-size: x-large;
        font-weight: 200;
        padding-top: 70px;
        padding-left: 90px;
        padding-right: 70px;
        text-align: center;
    }

    .texte_why {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 20px;
        text-align: center;
    }

    .Bienfaits_equitherapie_titre {
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
    }

    .picture_why_2 {
        display: none;
    }



    /* fin page 4 - Pourquoi faire de l'équithérapie? */

    /* Page 5 : séjours & tarifs */

    .rectangle_bordeaux_tarifs {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .honoraires {
        color: white;
        font-size: x-large;
        font-weight: 200;
        padding-top: 70px;
        padding-left: 70px;
        padding-right: 70px;
        text-align: center;
    }

    .image_tarifs {
        display: none;
    }

    .tarifs_texte {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 20px;
        text-align: center;
    }

    /* fin page 5 - séjours adaptés & tarifs */

    /* Page 6 : contact */

    .rectangle_bordeaux_contact {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .texte_contact {
        color: white;
        font-size: x-large;
        font-weight: 200;
        padding-top: 70px;
        padding-left: 70px;
        padding-right: 70px;
        text-align: center;
    }

    .garçon_brosse_evita {
        display: none;
    }

    .linda_champ_avec_evita {
        display: none;
    }

    .filles_de_dos {
        display: none;
    }

    .formulaire {
        text-align: center;
        color: white;
        padding-top: 30px;
        font-size: 1.2rem;
    }

    .fieldset {
        color: white;
        padding: 10px;
        margin: 10px;
    }

    #submitbutton {
        background-color: #DEA479;
        padding-left: 20px;
        padding-right: 20px;
        font-size: large;
        font-weight: bold;
        color: white;
        border: none;

    }
}


/*version desktop*/

@media (min-width: 600px) {
    .container {
        width: 100%;
    }

    .header {
        background-color: #8F4343;
        padding: 10px;
        color: white;
        border: black 2px solid;

    }

    .connexion {
        display: flex;
        padding: 5px;
        background-color: #DEA479;
        padding-left: 5px;
        padding-right: 5px;
        font-size: medium;
        font-weight: bold;
        color: white;
        border: none;
        border: black 2px solid;

    }

    .bouton_connexion {
        padding-right: 10px;
    }

    .infos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: flex-end;
        border: black 2px solid;
    }

    .icone_tel {
        padding-top: 15px;
        margin-right: 10px;
    }

    .tel {
        padding-top: 20px;
        margin-right: 40px;
    }

    .enveloppe {
        padding-top: 20px;
        margin-right: 40px;
    }

    .facebook {
        padding-top: 15px;
        margin-right: 40px;
    }

    .instagram {
        padding-top: 15px;
    }

    .menu_container {
        width: 100%;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
        border: black 2px solid;

    }

    .logo {
        width: 20%;
        padding-left: 40px;
        margin-left: 20px;

    }

    .icone_liste {
        display: none;
    }

    .logo_name {
        font-size: xx-large;
        font-weight: bold;
        width: 100%;
        margin-top: 30PX;
        margin-bottom: 80px;
        margin-left: 310px;
    }

    .menu_container_droit {
        width: 75%;
        padding: 20px;

    }

    .navbar {
        font-weight: 500;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
        font-size: larger;
        list-style: none;
        text-align: center;
        border: black 2px solid;

    }

    .navbar li {
        position: relative;
    }

    .navbar li a {
        color: black;
        text-decoration: none;
    }

    li a:hover {
        color: #DEA479;
    }

    .submenu {
        text-decoration: none;
        list-style: none;
        display: none;
        background-color: white;
        padding: 30px;
        margin: 20px;
        border: black 2px solid;

    }

    .navbar li:hover .submenu {
        display: inline-block;
        position: absolute;
        left: 0px;
    }



    /* fin du header_ tout ce qui est au dessus reste identique sur chaque page*/

    /*page index   ACCUEIL  */

    .body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .rectangle_orange {
        background-color: #DEA479;
        padding: 35px;
        color: white;
        text-align: center;
        font-size: xx-large;
    }


    .rectangle_bordeaux {
        background-color: #8F4343;
        color: white;
        font-size: larger;
        text-align: center;
        padding-bottom: 20px;
    }

    .bandeau_img {
        padding-bottom: 20px;
        display: flex;
    }

    .bandeau_img {
        background-image: url(images/bandeau_entier.jpg);
        background-size: cover;
        padding: 8%;
    }

    .image_version_mobile_accueil {
        display: none;
    }

    .texte {
        padding: 20px;
    }

    .linda_garcia {
        font-size: xx-large;
        font-weight: bold;
        padding: 30px;
    }

    .sous-titre {
        font-size: x-large;
        padding: 30px;
    }

    .lieux {
        background-color: #DEA479;
        color: white;
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        padding-top: 50px;
    }

    .secteurs {
        background-color: #DEA479;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        padding: 60px;
    }

    .fanthilou {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
    }

    .adresse_fanthilou {
        padding: 20px;
        padding-top: 30px;
        font-size: large;
        font-weight: bold;
    }

    .equiway {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
    }

    .adresse_equiway {
        padding: 20px;
        font-size: large;
        font-weight: bold;
    }

    .footer {
        box-sizing: border-box;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #DEA479;
        color: white;
        text-align: center;
    }


    /* page Qui suis-je? -  PAGE 2*/

    .rectangle_bordeaux_qui_suis_je {
        background-color: #8F4343;

    }

    .image_et_formation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .image_qui_version_mobile {
        display: none;
    }

    .formation {
        color: white;
        font-size: x-large;
        font-weight: 200;
        line-height: 130%;
        padding-left: 150px;
        padding-top: 50px;
        text-align: center;
    }

    .texte_presentation {
        color: white;
        font-size: large;
        font-weight: 200;
        line-height: 150%;
        padding: 70px;
        text-align: center;
    }


    .bloc_philo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        padding-left: 100px;
    }


    .ma_philo_titre {
        color: white;
        font-size: x-large;
        font-weight: 150;
        padding: 50px;
        text-align: center;
    }

    .ma_philo_texte {
        color: white;
        font-size: large;
        line-height: 130%;
        padding-left: 80px;
        padding-right: 40px;
        text-align: center;
    }

    .secteurs_activite_titre {
        color: white;
        font-size: x-large;
        font-weight: 150;
        padding-top: 80px;
        padding-bottom: 50px;
        text-align: center;
    }

    .secteurs_activite {
        color: white;
        font-size: large;
        text-align: center;
    }


    .ma_philo_image {
        padding-top: 50px;
        padding-left: 200px;
    }

    .footer {
        background-color: #DEA479;
        color: white;
    }


    /* fin page 2 - qui suis-je? */

    /* Page 3 : L'équithérapie Qu'est ce que c'est */

    .rectangle_bordeaux_what {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .image_et_what {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .image_what {
        display: block;
    }

    .image_what_2 {
        display: block;
    }

    .titre_what {
        color: white;
        font-size: xx-large;
        font-weight: 200;
        line-height: 120%;
        padding-left: 250px;
        padding-right: 120px;
        padding-top: 150px;
        text-align: center;
    }

    .texte_what {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 70px;
    }


    /* fin page 3 - l'équithérapie, qu'est ce que c'est? */

    /* Page  : Pourquoi faire de l'équithérapie? */

    .rectangle_bordeaux_why {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .image_et_why {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .image_why {
        display: block;
    }

    .image_why_2 {
        display: block;
    }

    .titre_why {
        color: white;
        font-size: xx-large;
        font-weight: 200;
        line-height: 120%;
        padding-left: 180px;
        padding-right: 180px;
        padding-top: 150px;
        text-align: center;
    }

    .texte_why {
        color: white;
        font-size: large;
        line-height: 150%;
        padding: 70px;
    }

    .Bienfaits_equitherapie_titre {
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
    }

    .picture_why_2 {
        text-align: center;
    }

    /* fin page 4 - pourquoi faire de l'équithérapie? */

    /* Page 5 : séjours adaptés & tarifs */

    .rectangle_bordeaux_tarifs {
        background-color: #8F4343;
        padding-bottom: 100px;
    }

    .image_page_tarifs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .image_tarifs {
        display: block;
    }

    .honoraires {
        color: white;
        font-size: xx-large;
        font-weight: 200;
        line-height: 120%;
        padding-left: 180px;
        padding-right: 30px;
        padding-top: 120px;
        text-align: center;
    }

    .tarifs_texte {
        color: white;
        font-size: xx-large;
        line-height: 150%;
        padding: 20px;
        margin-top: 50px;
        text-align: center;
    }

    /* fin page 5 - tarifs & séjours adaptés */

    /* Page 6 : contact */


    .rectangle_bordeaux_contact {
        background-color: #8F4343;
        padding-bottom: 100px;

    }

    .image_contact {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .texte_contact {
        color: white;
        font-size: xx-large;
        font-weight: 200;
        line-height: 120%;
        text-align: center;
        padding-left: 90px;
        padding-top: 70px;
    }

    .formulaire {
        text-align: center;
        color: white;
        margin-top: 80px;
        padding-top: 20px;
        font-size: 1.5rem;
    }

    .fieldset {
        color: white;
        margin-left: 400px;
        margin-right: 400px;
    }

    #submitbutton {
        background-color: #DEA479;
        padding-left: 20px;
        padding-right: 20px;
        font-size: x-large;
        font-weight: bold;
        color: white;
        border: none;

    }
}